.top-group{
	height: calc(100vh - 61px);
	background-image: url('404/topImg.jpg');
	background-position: center center;
	background-size: cover;
}
.top-group .title{
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	line-height: 100vh;
	text-align: center;
	font-size: 42px;
	color: #fff;
	opacity: 0;
	animation: title 2s 0.5s backwards;
}
@keyframes title{
	0%{
		transform: scale(0);
		opacity: 1;
	}
	50%{
		transform: scale(1);
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 0;
	}
}
.top-group .about{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 1;
	animation: about 2s 1.5s backwards;
}
.top-group .intro{
	width: 250px;
	top: 20vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 20px
}
.top-group .aboutTitle{
	margin-bottom: 20px;
	font-size: 28px;
	text-align: center;
}
.top-group .aboutText{
	line-height: 1.6em;
	text-align: center;
}
.top-group .aboutText li{
	padding: 15px
}
@keyframes about{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}




.footer{
	padding:20px 0;
	text-align: center;
}




@media screen and (max-width: 768px){
	.top-group{
		height: calc(100vh - 135px);
	}




	.footer{
		font-size: 14px;
	}
	.footer span{
		display: block;
	}
}