.nav-group{
	width: 100%;
	z-index: 10;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.nav-group .logo{
	padding: 20px;
}
.nav-group .logo img{
	width: 200px;
}
.nav-group ul{
	padding: 30px 20px;
	text-align: center;
}
.nav-group li{
	display: inline-block;
	margin-right: 26px;
}
.nav-group li:last-of-type{
	margin-right: 30px;
}
.nav-group p{
	text-align: center;
	color: #111;
	transition: 0.2s;
}
.nav-group a:hover p{
	color: #f5a916;
}
.nav-group a.click p{
	color: #f5a916;
}
.nav-group p:first-of-type{
	font-size: 14px;
}
.nav-group li a{
	width: 40px;
}
.nav-group .icon a{
	position: relative;
	top: 0px;
	transition: 0.2s;
}
.nav-group .icon a:hover{
	top: -3px;
}
.nav-group .hamberger{
	width: 30px;
	height: 30px;
	padding: 12px 0;
	top: 35px;
	right: 25px;
	cursor: pointer;
	display: none;
}
.nav-group .bar{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.nav-group .bar,
.nav-group .bar::before,
.nav-group .bar::after{
	height: 4px;
	width: 30px;
	background-color: #f5a916;
	transition: 0.5s;
	border-radius: 2px;
}
.nav-group .bar::before,
.nav-group .bar::after{
	content: '';
	display: block;
	position: absolute;
	transform: rotate(0deg);
}
.nav-group .bar::before{
	top: -12px;
}
.nav-group .bar::after{
	top: 12px;
}
.nav-group .bar.active{
	background-color: transparent;
}
.nav-group .bar.active::before{
	transform: rotate(45deg);
	top: 0;
}
.nav-group .bar.active::after{
	transform: rotate(-45deg);
	top: 0;
}
.nav-group .hidebox{
	top: 100px;
	width: 100%;
	height: calc(100vh - 100px);
	background-color: rgba(245, 169, 22, 0.9);
	transition: 0.5s;
	left: -200vw;
	transition: 0.5s;
}
.nav-group .hidebox.active{
	left: 0;
}
.nav-group .list{
	padding: 20px;
}
.nav-group .list p{
	color: #fff;
}
.nav-group .list::before,
.nav-group .list::after{
	content: '';
	display: block;
	height: 1px;
	width: 0;
	margin: auto;
	background-color: #fff;
	transition: 0.5s;
}
.nav-group .list:hover p{
	color: #fff;
}
.nav-group .list:hover::before,
.nav-group .list:hover::after{
	width: 40%;
}
.nav-group .list.hover p{
	color: #fff;
}
.nav-group .list.hover::before,
.nav-group .list.hover::after{
	width: 40%;
}
.nav-group .active{
	display: block;
}




.top-group{
	height: 70vw;
	background-image: url('len/topImg.jpeg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.top-group::before{
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0 50vw 10vh 0;
	border-color: transparent transparent #fff transparent;
	left: 0;
	bottom: 0;
}
.top-group::after{
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0 0 10vh 50vw;
	border-color: transparent transparent #fff transparent;
	right: 0;
	bottom: 0;
}
.top-group .title{
	width: 120px;
	height: 120px;
	border-radius: 200px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	line-height: 120px;
	color: #2862ae;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	animation: title 1s 0.7s backwards;
}
@keyframes title{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}




.select-group .title{
	margin-top: 60px;
	color: #2bac38;
	font-size: 24px;
	width: 250px;
	background-image: linear-gradient(10deg, #d7e036 40%, transparent 40%);
	padding: 9px 14px;
}
.select-group .selection{
	padding: 12px 0 0;
	border-top: 1px solid #2bac38;
	border-bottom: 1px solid #2bac38;
	margin-bottom: 60px;
}
.select-group .type{
	padding: 3px 6px;
	border: 1px solid #44aee4;
	border-radius: 3px;
	margin: 0px 6px 12px;
}
.select-group .type:last-of-type{
	margin-right: 0px;
}
.select-group .type::after{
	content: 'X';
	display: inline-block;
	margin-left: 10px;
	color: #f5a916;
	font-weight: 600;
	cursor: pointer;
}




.len-group .item{
	padding: 3vw;
}
.len-group .item figure{
	padding: 2vw;
}
.len-group .item img{
	width: 100%;
}
.len-group .item p{
	margin-top: 20px;
}
.len-group .name{
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	color: #444444;
}
.len-group .name span{
	font-weight: 600;
	color: #292a2a;
}
.len-group .text{
	color: #444444;
	line-height: 1.8em;
}
.len-group .price{
	text-align: right;
	color: #ea5c61;
}
.len-group .buyBtn{
	text-align: right;
	color: #292a2a;
	font-size: 20px;
	margin-top: 20px;
	padding: 15px 15px 15px 0;
	background-image: linear-gradient(30deg, transparent 45%, #f5a916 45%);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: 240px 57px;
	transition: 0.5s;
}
.len-group .buyBtn:hover{
	color: #ffffff;
	cursor: pointer;
}
.len-group .itemGroup .items:first-of-type{
	background-color: #7dc5e8;
}
.len-group .itemGroup:first-of-type .items:last-of-type{
	background-color: #f6d357;
}
.len-group .itemGroup:last-of-type .items:first-of-type{
	background-color: #2bac38;
}
.len-group .itemGroup:last-of-type .items:last-of-type{
	background-color: #f3a8ab;
}




.footer{
	background-color: #f08218;
	padding: 20px 0;
	color: #444444;
	text-align: center;
}




@media screen and (max-width: 992px){
	.nav-group{
		background-image: linear-gradient(180deg, #fff, #fff);
	}




	.top-group{
		height: 60vh;
		background-position: center 100px;
	}
	.top-group::before{
		border-width: 0 97vw 10vh 0;
	}
	.top-group::after{
		display: none;
	}




	.len-group .item{
		padding: 10vw;
	}
	.len-group .buyBtn{
		background-image: linear-gradient(24deg, transparent 40%, #f5a916 40%);
		background-position: center center;
		background-size: auto auto;
	}
}




@media screen and (max-width: 768px){
	.nav-group .nav,
	.nav-group .icon{
		display: none;
	}
	.nav-group .hamberger{
		display: block;
	}
	



	.top-group{
		height: 50vh;
	}
	.top-group::before,
	.top-group::after{
		display: none;
	}




	.len-group .price{
		text-align: center;
	}
	.len-group .buyBtn{
		padding: 15px 0;
		text-align: center;
		background-image: linear-gradient(75deg, transparent 15%, #f5a916 15%, #f5a916 85%, transparent 85%);
	}




	.footer{
		font-size: 14px;
	}
	.footer span{
		display: block;
	}
}